In [40]:
import os
from datetime import datetime
import pandas as pd
import duckdb

In [41]:
con = duckdb.connect(database='dados_db.db', read_only=False)

In [46]:
data_ingestao = datetime.now()
ingestao = 'z009_02.csv'
df = pd.read_csv(f'../landing/{ingestao}', sep=';')
df['data_ingestao'] = data_ingestao
df["nome_arquivo"] = ingestao
df

   NATBR    MAKTX WERKS  MAINS  LABST              data_ingestao nome_arquivo
0  10004    SERRA  BT50    100    200 2025-03-19 16:54:59.060575  z009_02.csv
1  10005  MACHADO  BT50    100    100 2025-03-19 16:54:59.060575  z009_02.csv
2  10003    PREGO  BT10    100     60 2025-03-19 16:54:59.060575  z009_02.csv

In [47]:
con.execute("""CREATE TABLE IF NOT EXISTS bronze_produtos
            (NATBR VARCHAR,
            MAKTX VARCHAR,
            WERKS VARCHAR,
            MAINS VARCHAR,
            LABST VARCHAR,
            DATA_INGESTAO TIMESTAMP,
            NOME_ARQUIVO VARCHAR
            )
            """)

In [48]:
con.execute("""INSERT INTO bronze_produtos SELECT * FROM df""")

In [ ]:
resultado = con.execute("SELECT * FROM bronze_produtos").fetchdf()
resultado.head(3)

ConnectionException: Connection Error: Connection already closed!

In [51]:
con.close()