In [1]:
import os
from datetime import datetime
import pandas as pd
import duckdb

In [2]:
con = duckdb.connect(database='dados_db.db', read_only=False)

In [8]:
data_ingestao = datetime.now()
ingestao = 'z009_02.csv'
df = pd.read_csv(f'../landing/{ingestao}', sep=';')
df['data_ingestao'] = data_ingestao
df["nome_arquivo"] = ingestao
df

   NATBR    MAKTX WERKS  MAINS  LABST              data_ingestao nome_arquivo
0  10004    SERRA  BT50    100    200 2025-03-20 14:29:06.866122  z009_02.csv
1  10005  MACHADO  BT50    100    100 2025-03-20 14:29:06.866122  z009_02.csv
2  10003    PREGO  BT10    100     60 2025-03-20 14:29:06.866122  z009_02.csv

In [9]:
con.execute("""CREATE TABLE IF NOT EXISTS bronze_produtos
            (NATBR VARCHAR,
            MAKTX VARCHAR,
            WERKS VARCHAR,
            MAINS VARCHAR,
            LABST VARCHAR,
            DATA_INGESTAO TIMESTAMP,
            NOME_ARQUIVO VARCHAR
            )
            """)

In [10]:
con.execute("""INSERT INTO bronze_produtos SELECT * FROM df""")

In [16]:
resultado = con.execute("SELECT * FROM bronze_produtos").fetchdf()
resultado.head()

   NATBR     MAKTX WERKS MAINS LABST              DATA_INGESTAO NOME_ARQUIVO
0  10001  PARAFUSO  BT10   100   100 2025-03-20 14:28:55.968631  z009_01.csv
1  10002   MARTELO  BT50   100  1500 2025-03-20 14:28:55.968631  z009_01.csv
2  10003     PREGO  BT10   100    50 2025-03-20 14:28:55.968631  z009_01.csv
3  10004     SERRA  BT50   100   200 2025-03-20 14:29:06.866122  z009_02.csv
4  10005   MACHADO  BT50   100   100 2025-03-20 14:29:06.866122  z009_02.csv

In [17]:
con.close()