In [2]:
import duckdb

In [6]:
con = duckdb.connect(database='dados_db.db', read_only=False)

In [7]:
tables = con.execute("SHOW TABLES").fetchall()
tables

[('bronze_produtos',), ('produtos',)]

In [8]:
df = con.execute("SELECT * FROM produtos").fetchdf()
df.head()

      id nm_produto id_categoria  id_fornecedor  vl_preco
0  10001   PARAFUSO         BT10            100     100.0
1  10004      SERRA         BT50            100     200.0
2  10003      PREGO         BT10            100      60.0
3  10003      PREGO         BT10            100      50.0
4  10002    MARTELO         BT50            100    1500.0

In [9]:
df2 = df.drop(columns=['id_categoria', 'id_fornecedor'])
df2.head()

      id nm_produto  vl_preco
0  10001   PARAFUSO     100.0
1  10004      SERRA     200.0
2  10003      PREGO      60.0
3  10003      PREGO      50.0
4  10002    MARTELO    1500.0

In [ ]:
con.execute("CREATE TABLE IF NOT EXISTS dim_produtos"
"(id_produto INTEGER , "
"nm_produto TEXT, "
"vl_produto FLOAT)")